strong {
    color: var(--light-gray);
}



blockquote {
    margin: 1em 0 1em 2em;
    background: var(--medium-gray);
    color: black;
    padding: 1em;
    border-radius: .3em;
    border: .3em solid var(--dark-gray);
    font-size: .9em;

    /* when close to a float element
    it goes under it... therefore hide the
    overflow content to make width not
    go beyond floated element
     */
    overflow: hidden;
}

.output blockquote p {
    color: black;
}

.code {
    background: #1d1f21;
    padding: .3em .1em;
    color: var(--white);
}

.output h1 {
    margin-bottom: 1em;
    font-size: 2em;
}

.output p {
    margin: .5em 0;
    line-height: 1.4em;
    color: var(--medium-gray);
}

.output :is(h2, h3, h4, h5, h6) {
    font-family: "RobotoBold", sans-serif !important;
    margin: 2em 0 .3em 0;
    color: var(--white);
}
.output :is(h2, h3, h4, h5, h6)::after {
    content: "#";
    padding-left: .5em;
    color: var(--medium-gray);
}

.output ul {
    margin: revert;
    padding: revert;
}

.output q {
    color: white;
}

.output details {
    margin-top: .5em;
    border: .1em solid var(--dark-gray);
    padding: 1em;
    border-radius: .3em;
}
/* li > (direct child) of details element */
.output li:has(> details)  {
    list-style-type: none;
}
.output details p { 
    padding-left: 1em;
    margin-bottom: 0;
}

.output :is(h2, h3, h4, h5, h6) + figure {
    margin-top: .5em;
}
.output figure {
    border: .1em solid var(--dark-gray);
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: .3em;
    float: left;
    margin-right: 1em;
    margin-bottom: 1em;
}
.output .figure-float-right {
    float: right;
    margin-right: 0;
    margin-left: 1em;
}
.output figure img {
    padding: 1.8em;
}
.output figcaption {
    background: var(--dark-gray);
    padding: 1em;
    font-size: .8em;
    text-align: center;
    width: 100%;
}

@media screen and (max-width: 1100px) {
    blockquote {
        margin-left: 0;
        margin-right: 0;
    }
}
@media screen and (max-width: 560px) {
    .output figure {
        width: 100%;
    }
}