.post {
	color: var(--light-gray);
}
#posts li {
	list-style-type: none;
}
.post header {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.post-title {
	font-size: 2em;
}
.post main {
	padding: .7em 0 1em 0;
	color: var(--light-gray);
}

#content {
	/* height: 80vh; */
}

.post {
	padding-top: 3em;
}
.post:first-child {
	padding-top: 0em;
}
.post:last-child {
	padding-bottom: 2em;
}

.tag {
	padding: .3em .5em;
	font-size: .7em;
	background: var(--light-gray);
	border: none;
	border-radius: 5%;
}

.unselected-main-navigation-link {
	color: unset;
}