#content {
	padding: 2em 0;
	display: flex;
	flex-direction: column;
	gap: 2em;
}


/* START OF month */

.month {
	background: black;
	/* background: linear-gradient(1deg, #000000, #000000b0, #0000008c); */
}

.month-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: sticky; 
	top: 0;
	background: black;
	padding: 1em 0;
	z-index: 100;
}
.month-header-metadata {
	/* replace for html elements <br/> or display: block */
	display: flex;
	flex-direction: column;
	align-items: end;
}
.month-header-metadata-sort {
	display: flex;
	align-items: center;
}

.month-posts {
	width: 100%;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	gap: 1em;
}

/* END OF month */





/* START of post  */
.post {
	/* 100 / 3 = 33.33 -> additional space for padding/margin -> 30% */
	flex-grow: 1;
	width: 32%;
	padding: 2em 1em;
	box-shadow: inset 0px 5px 1.5em #020202;
	border: .1em solid var(--dark-gray);
	border-radius: .2em;

	display: flex;
	flex-direction: column;
	justify-content: space-between;

	position: relative;
}
.post:hover {
	background: #181818;
}
.post-title {
	font-family: "RobotoRegular", sans-serif !important;
}
.post-date {
	color: var(--light-gray);
}
.post-desc {
	padding: .5em 0;
	font-size: .95em;
}

.draft .dimmer {
	width: 100%;
	height: 100%;
	background: black;
	opacity: .8;
	position: absolute;
	top: 0;
	left: 0;
}
.draft {
	/* opacity: .5; */
	user-select: none;
	pointer-events: none;
}
.draft-container {
	position: absolute;
	top: 50%;
	right: 50%;
	transform: translate(50%, -50%) rotate(-45deg);
	font-size: 2em;
}



@media screen and (max-width: 1100px) {
	#content {
		padding: 2em;
	}
}

@media screen and (max-width: 750px) {
	.post {
		width: 100%;
	}
	.month {
		width: 100%;
	}
	.month {
		padding: 0;
	}
}