#content {
    padding-top: 0;
}
.output {
    display: flex;
    gap: 2em;
}
.output h1 {
    margin-bottom: 0;
}
#post-header {
    background: black;
    padding: 2em;
}
#post-metadata {
    position: sticky;
    top: 2em;
}
#posts-tags {
    margin: 1em 0;
}
#posts-navigation {
    margin-top: 2em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#post-body {
    width: 60%;
}
#post-body ul {
    color: var(--light-gray);
}


#post-route {
    background: black;
    color: var(--white);
    padding: .5em 1em;
    /* position: sticky; */
    top: 0;
}

@media screen and (max-width: 650px) {
    #content {
        padding: 0;
    }
    .output {
        flex-direction: column;
        gap: 0;
    }
    #post-body {
        padding: 0em 2em 2em 2em;
        width: 100%;
    }
    #post-header {
        width: 100%;
    }
}

