#content {
    padding-top: 0;
}
.output h1 {
    margin-bottom: 0;
}
#post-header {
    background: black;
    padding: 2em;
}
#post-navigation {
    position: sticky;
    top: 1em;
}

#post-body ul {
    color: var(--light-gray);
}

@media screen and (max-width: 650px) {
    #content {
        padding: 0;
    }
    #post-body {
        padding: 2em;
    }
}