#content {
    padding: 0;
}
.output {
    display: flex;
    gap: 2em;
}
.output h1 {
    margin-bottom: 0;
}
#post-header {
    background: black;
    padding: 2em;
    border-right: .1em solid var(--dark-gray);
}
#post-metadata {
    position: sticky;
    top: 2em;
}
#post-metadata ul {
    padding-left: 0;
}
#post-navigation {
    padding-left: 0;
}
#post-navigation li {
    list-style-type: none;
}
#post-navigation li > ul {
    display: flex;
    flex-direction: column;
    gap: .5em;
}
#post-navigation a + ul {
    margin-top: .3em;
}
#post-navigation > li > a {
    color: var(--light-gray);
    font-family: "RobotoBold", sans-serif;
}
#posts-tags {
    margin: 1em 0;
}
#post-navigation {
    display: flex;
    align-items: start;
    flex-direction: column;
    gap: 1.5em;
}

#posts-navigation {
    display: flex;
    margin-bottom: 2em;
    justify-content: space-between;
    align-items: center;
}

#post-body {
    width: 60%;
    padding-bottom: 2em;
}
#post-body ul {
    color: var(--light-gray);
}


#post-route {
    background: black;
    color: var(--white);
    padding: .5em 1em;
    /* position: sticky; */
    top: 0;
}


@media screen and (max-width: 650px) {
    #content {
        padding: 0;
    }
    .output {
        flex-direction: column;
        gap: 0;
    }
    #post-body {
        padding: 0em 2em 2em 2em;
        width: 100%;
    }
    #post-header {
        width: 100%;
        border: none;
        border-bottom: .1em solid var(--dark-gray);
    }
}

