#content a {
    color: var(--medium-gray);
}

table {
    width: 100%;
    height: 100%;
}

tr, th, td {
    padding: .7em;
}

tbody {
    font-size: .8em;
}
tbody tr td:first-child {
    font-size: .3em;
}
thead tr th:first-child, tbody tr th {
    text-align: left;
}
thead th {
    padding-top: 0;
}

tbody tr:nth-of-type(odd) {
    background: #313131;
    /* background: rgb(62, 62, 62); */
}


.table-separator {
    /* background: var(--noir-blue) !important; */
    background: black !important;
}
.table-separator th {
    font-size: initial;
    border: 1px solid var(--dark-gray);
}


.incomplete {
}

tbody a {
    font-style: italic;
}

tbody tr a::after {
    content: " ↗";
    height: 50%;
    font-size: .5em;
}

